.product-item {
  .timetable td {
    padding: 5px;
  }
  .timetable {
    border-spacing: 20px !important;
  }
  thead tr th:first-child,
 tbody tr td:first-child {
  width: 8rem;
  font-weight: normal;
 }
  .product-item-img {}
  .product-item-description {}
  @media (min-width: 992px) {
    .product-item-title {
      position: relative;
      z-index: 1;
      margin-bottom: -3rem;
    }
    .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 60vw;
    }
    .product-item-description {
      position: relative;
      z-index: 1;
      margin-top: -3rem;
      max-width: 50vw;
    }

  }
}
